
.icon-music:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-beaker:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-params:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */